@model itcast.crm19.model.roomRoomInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div style="margin:20px">
        @using (Ajax.BeginForm("add", "roominfo", new AjaxOptions()
        {
            Url = Url.Action("add", "roominfo"),
            HttpMethod = "Post",
            OnSuccess = "ajaxSuccess",
            OnBegin = "ajaxBegin",
            OnComplete = "ajaxComplete"

        }))
        {
            <table class="list">
                <tr>
                    <th>@Html.DisplayNameFor(c => c.roomName)</th>
                    <td>
                        @Html.TextBoxFor(c => c.roomName)
                        @Html.ValidationMessageFor(c => c.roomName)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.roomTypeID)</th>
                    <td>
                        @Html.DropDownListFor(c => c.roomTypeID, ViewBag.roomType as SelectList)
                        @Html.ValidationMessageFor(c => c.roomTypeID)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.roomStatus)</th>
                    <td>
                        @Html.DropDownListFor(c => c.roomStatus, ViewBag.roomStatus as SelectList)
                        @Html.ValidationMessageFor(c => c.roomStatus)
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button class="btn btn-default">添加</button>
                        <button class="btn btn-default" onclick=" window.parent.helper.closePanel()">关闭</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="loading">
                            <img src="~/images/loading.gif" />
                            正在提交中.....
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


</body>
</html>
