@model itcast.crm19.model.roomCheckInInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>edit</title>
</head>
<body>
    <div style="margin:20px">
        @using (Ajax.BeginForm("edit", "checkininfo", new AjaxOptions()
        {
            Url = Url.Action("edit", "checkininfo"),
            HttpMethod = "Post",
            OnSuccess = "ajaxSuccess",
            OnBegin = "ajaxBegin",
            OnComplete = "ajaxComplete"

        }))
        {
            <table class="list">
                <tr>
                    <th>@Html.DisplayNameFor(c => c.checkInRoomID)</th>
                    <td>
                        @Html.DropDownListFor(c => c.checkInRoomID, ViewBag.checkInRoom as SelectList)
                        @Html.ValidationMessageFor(c => c.checkInRoomID)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.checkInGuestID)</th>
                    <td>
                        @Html.DropDownListFor(c => c.checkInGuestID, ViewBag.checkInGuest as SelectList)
                        @Html.ValidationMessageFor(c => c.checkInGuestID)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.checkInStatus)</th>
                    <td>
                        @Html.DropDownListFor(c => c.checkInStatus, ViewBag.checkInStatus as SelectList)
                        @Html.ValidationMessageFor(c => c.checkInStatus)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.checkInTime)</th>
                    <td>
                        @Html.TextBoxFor(c => c.checkInTime, new { id = "datePicker", style = "width:220px" })
                        @Html.ValidationMessageFor(c => c.checkInTime)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.checkInDeposit)</th>
                    <td>
                        @Html.TextBoxFor(c => c.checkInDeposit)
                        @Html.ValidationMessageFor(c => c.checkInDeposit)
                    </td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(c => c.checkInRemark)</th>
                    <td>
                        @Html.TextAreaFor(c => c.checkInRemark, new { style = "width:220px" })
                        @Html.ValidationMessageFor(c => c.checkInRemark)
                    </td>
                </tr>

                <tr>
                    <th></th>
                    <td>
                        <button class="btn btn-default">添加</button>
                        <button class="btn btn-default" onclick=" window.parent.helper.closePanel()">关闭</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="loading">
                            <img src="~/images/loading.gif" />
                            正在提交中.....
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


</body>
</html>
