@model itcast.crm19.model.roomGuestInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div style="margin:20px">
        @using (Ajax.BeginForm("add", "guestinfo", new AjaxOptions()
        {
            Url = Url.Action("add", "guestinfo"),
            HttpMethod = "Post",
            OnSuccess = "ajaxSuccess",
            OnBegin = "ajaxBegin",
            OnComplete = "ajaxComplete"

        }))
        {
            <table class="list">
                <tr>
                    <th>@Html.DisplayNameFor(c => c.guestName)</th>
                    <td>
                        @Html.TextBoxFor(c => c.guestName)
                        @Html.ValidationMessageFor(c => c.guestName)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.guestPhone)</th>
                    <td>
                        @Html.TextBoxFor(c => c.guestPhone)
                        @Html.ValidationMessageFor(c => c.guestPhone)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(c => c.guestStatus)</th>
                    <td>
                        @Html.DropDownListFor(c => c.guestStatus, ViewBag.guestStatus as SelectList)
                        @Html.ValidationMessageFor(c => c.guestStatus)
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button class="btn btn-default">添加</button>
                        <button class="btn btn-default" onclick=" window.parent.helper.closePanel()">关闭</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="loading">
                            <img src="~/images/loading.gif" />
                            正在提交中.....
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
